<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Admin Panel</title>

<style>
body {
	margin: 0;
	font-family: Arial;
	background: #f4f4f4;
}

/* CENTER BOX */
.container {
	text-align: center;
	margin-top: 100px;
}

a {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 15px;
	background: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
</style>

</head>

<body>

	<div class="container">

		<h1>Admin Panel</h1>
		<p>Only ADMIN can access this page.</p>

		<a href="/dashboard">Back To Dashboard</a>

	</div>

</body>
</html>